@use 'colors';

*{
    all: unset;
    font-family: JetBrainsMono;
}

@mixin meter($color) {
    color: $color;
    background-color: colors.$base03;
    margin: 0 10px;

    label {
        color: $color;
        font-size: 10px;
        margin: 5px;
        min-width: 5px;
        min-height: 5px;
    }
}

.bar {
    background-color: colors.$base01;
    padding: 0 8px;
    color: colors.$base04;
}

.resource-meters {
    .cpu {
        @include meter(#afbea2);
    }

    .ram {
        @include meter(#e0b089);
    }
}

.control {
    padding: 5px 10px;
}
